* {
  box-sizing: border-box;
}


/* Dark theme */

.dark-theme {
  color: #ffffff;
  background-color: #333333;
}
.dark-theme h1,h2{  background: -webkit-linear-gradient(#999, #61ca7a, #c3ca61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.dark-theme a:hover {
  color: #00aaff;
}

.dark-theme button {
  background-color: #555555;
}
.dark-theme input{
  background-color: #e8ffef;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

/*-----Log In + Sign Up Form------*/
body h1{
  color: #101031  
}

.authenticate-form {
  width: 375px;
/*  height: adjust in html;*/
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  list-style: none;
  padding: 10px 20px 10px 10px;
  background:#ffffff;
  border: 2px solid #61ca7a;
  border-radius: 15px;
  box-shadow: 0rem 0.3rem 1rem 0.1rem #aeaeae;
}

.authenticate-form p {
  font-family: Segoe UI;
  font-size: 15px;
  color: #61ca7a;
}

.authenticate-form a {
  text-decoration: none;
}
.authenticate-form h1 {
  display: flex; 
  align-items:center; 
  justify-content: center; 
  color:#61ca7a
}

.authenticate-form input { 
  background: #f6f6f6;
  display: block;
  width: 300px;
  padding: 20px;
  margin: 10px;
  font-family: Segoe UI;
  font-size: 15px;
  border: 2px solid #61ca7a;
  border-radius: 5px;
  color:black;
}

.authenticate-form input:hover {
  background: #eeeeef;
}

.sub {
  background: #fff;
  width: 200px;
  padding: 12px;
  font-family: Segoe UI;
  font-weight: bold;
  color: #61ca7a;
  font-size: 18px;
  border-radius: 5px;
}
.sub:hover {
  color: #61ca7a;
}

.sub:active {
  border: 2px solid #fff;
}


/* sign-up form*/

/*Header*/
/* STICKY NAVBAR */
.scrolled header {
  height: 50px; 
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;

}


.scrolled header .navbar .nav .item {
  line-height: 40px;
  transition: 0.5s ease;
}

.scrolled header .navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}


.header_area h1 {
  font: 50px Segoe UI;
  font-weight: bold;
  margin-bottom: 3px;
  color:#61ca7a;
  text-shadow: .5px .5px 0px #bcbcbc;
}

.header_area nav {
  display: flex;
  padding: 0 32px;
  margin: auto ;
  align-items: center;
  justify-content: space-between;
  box-shadow: #121a2e;
  align-items: center;
  
}

.header_area span {
  align-items: center;
  display: flex;
  font-size: 24px;
}

.navbar {
  display: flex;
  height: 5vh;
  margin: 0 30px;
  list-style: none;

  align-items: center;
  justify-content: center;
}

.navbar .navbar-nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar .nav-item .nav-link {
  background: linear-gradient(168deg, #ffffff 55%, #00ff2a 0);
  border: 1px #aaa solid;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(2, 78, 84);
  transition: all 0.3s ease 0s;
  padding: 1px;
  margin: 10px 20px;
  gap: 2rem;
  align-items: center;
  /* HOVER EFFECT */
  &:hover{
    padding: 5px;
    margin: 10px 20px;
    background: #00ff2a;
    border: 1px #aaa solid;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s ease 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    gap: 2rem;
    overflow: hidden;
  }
}
  @keyframes animate {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }

  /* header EJS */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  #checkbox{
    display: none;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #21f3b8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21f3b8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Body css*/
.nav-item #toggle-search {
  display: none;
}

/*index.ejs*/
#drop-input, #rise-input {
            display: none;
        }

/* Custom Checkbox Styling */
.squaredThree {
    width: 14px;
    height: 14px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.squaredThree input {
    visibility: hidden;
    position: absolute;
}

.squaredThree label {
    width: 14px;
    height: 14px;
    background: linear-gradient(to bottom, #222 0%, #45484d 100%);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 2px;
    left: 4px;
    transform: rotate(45deg);
    display: none;
}

.squaredThree input:checked + label {
    background: #45484d;
}

.squaredThree input:checked + label:after {
    display: block;
}

.squaredThree label:hover {
    opacity: 0.8;
}

/*footer.ejs*/


.f-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.site-footer {
  background-color: #26272b;
  font-size: 15px;
  line-height: 1.6;
  color: #737373;
}

/* Custom grid system */
.site-footer .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.site-footer [class^="col-"] {
  padding: 10px;
  display: block;
}

/* Paragraph text adjustments */
.site-footer p {
  margin-bottom: 10px;
  text-align: justify;
}


.site-footer .footer-links {
  padding-left: 0;
  list-style: none;
}

.site-footer .footer-links li {
  margin-bottom: 0.5rem;
}

.site-footer .footer-links a {
  color: #737373;
  text-decoration: none;
}

.site-footer .footer-links a:hover {
  color: #fff;
  text-decoration: underline;
}

/* HR styling */
.site-footer hr {
  margin: 5px 0;
  border-top: 1px solid #bbb;
  opacity: 0.5;
}


.site-footer hr.small
{
  margin:10px 0
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:16px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.x-twitter:hover
{
  background-color:#000
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
  background-color:#ea4c89
}
/*footer*/


@media screen and (min-width: 851px){
  /*switch size*/
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
  /*switch size end*/

  header{min-height: 120px;}
  .header_area nav{
    padding: 0 24px;
  }
  .header_area h1{
    font-size: 36px;
  }
  
  header .navbar{
    height: 4.2vh;
    font-size: 80%;
    margin: 0 20px;
  }

  .navbar .nav-item .nav-link {
    margin: 7px 14px;
    gap: 19px;
  }
  .navbar .navbar-nav{
    padding-left: 20px;
  }
  img{
    width: 80%;
    height: 80%;
  }

  body h1{
    font-size: 26px;
  }
  body button{
    font-size: 14px;
    padding:8px 16px;
  }
  .site-footer .col-1 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    
  .site-footer .col-2,
  .site-footer .col-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
}

@media screen and (min-width: 551px) and (max-width: 851px){
  /*switch size*/
  .switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 16px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(9.5px);
    -ms-transform: translateX(9.5px);
    transform: translateX(9.5px);
  }
  /*switch size end*/

  header{min-height: 100px;}
  .header_area nav{
    padding: 0 16px;
  }
  .header_area h1{
    font-size: 30px;
  }
  header .navbar{
    height: 3.8vh;
    font-size: 75%;
    margin: 0 10px;
  }
  .navbar .navbar-nav{
    padding-left: 0px;
  }
  .navbar .nav-item .nav-link {
    margin: 4px 9px;
    gap: 14px;
  }
  img{
    width: 75%;
    height: 75%;
  }
  body button{
    font-size: 12px;
    padding:6px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  body h1{
    font-size: 22px;
  }

  body .forget-pass{
    font-size: 14px;
  }
  .site-footer .col-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .site-footer .col-2,
  .site-footer .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 551px){
  /*switch size*/
  .switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 9px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    left: 2px;
    bottom: 1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
  /*switch size end*/

  header{min-height: 100px;}
  .header_area nav{
    padding: 0 8px;
  }
  .header_area h1{
    font-size: 18px;
  }
  header .navbar{
    height: 2.4vh;
    font-size: 65%;
    margin: 0 4px;
  }
  .navbar .navbar-nav{
    padding-left: 0px;
  }
  .navbar .nav-item .nav-link {
    margin: 2px 4px;
    gap: 7px;
  }
  img{
    width: 65%;
    height: 65%;
  }
  body button{
    font-size: 11px;
    padding:2px 2px;
  }
  body h1{
    font-size: 16px;
  }
  body .forget-pass{
    font-size: 12px;
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .site-footer [class^="col-"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

}
@media (max-width:380px){
  .nav-item:nth-child(4) {
    display: none;
  }
}