<footer class="site-footer">
      <div class="f-container">
        <div class="row">
          <div class="col-1">
            <h6>About</h6>
            <p class="text-justify">Trackery <i>A SIMPLE BUILDING WEBSITE SCRAPES DAILY ACTIVITIES ON MANY WEBSITE</i>, this website is built by a student, allowing users to go on and track informations across multi-ple websites and send notifications to their emails.</p>
          </div>

          <div class="col-2">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="">Webscraping</a></li>
              <li><a href="">Stock & Crypto Price </a></li>
              <li><a href="">Items Price (e-com web, etc.)</a></li>
              <li><a href="">Weather</a></li>
            </ul>
          </div>

          <div class="col-3">
            <h6>More</h6>
            <ul class="footer-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Contribute</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="f-container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Author &copy; Sang Tan Truong 
         <a href="#">ST</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="x-twitter" href="#"><i class="fa fa-x"></i></a></li>   
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
<script src="https://kit.fontawesome.com/e8ecdb7aca.js" crossorigin="anonymous"></script>